@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Display:wght@200&family=EB+Garamond&family=Josefin+Slab&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: calc(max(1.37vw,10px));
  font-family: 'EB Garamond', serif;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #FFEBC6;
  background-color: #21191b;
  overflow-x: hidden;
  overflow-y: overlay;
}

.blurMe {
  -webkit-filter: blur(1px);
          filter: blur(1px);
}

.bgSvg {
  position: absolute;
  z-index: 2;
  color: #170F11;
  bottom: -1px;
  left: -1px;
  right: -1px;
}

.home {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(5%, 70%) auto 5%;
      grid-template-columns: minmax(5%, 70%) auto 5%;
  -ms-grid-rows: 15vw auto;
      grid-template-rows: 15vw auto;
}

.home img {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  position: relative;
  width: 100%;
  top: -10%;
  z-index: -1;
  -webkit-mask-image: radial-gradient(ellipse 70% 77% at 40% 14%, white 99.7%, transparent);
          mask-image: radial-gradient(ellipse 70% 77% at 40% 14%, white 99.7%, transparent);
}

.home .headline {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column-align: left;
      justify-self: left;
  -ms-flex-item-align: start;
      align-self: flex-start;
  color: #21191b;
}

.home .headline h1 {
  font-size: calc(max(2.7vw,20px));
}

.home .headline h2 {
  font-size: calc(max(1.75vw,15px));
}

.home .headline h2 span {
  font-size: calc(max(1.75vw,15px));
  color: #8E4A49;
}

.stickable {
  position: absolute;
  top: 4vw;
}

.logo {
  width: 14%;
  mix-blend-mode: overlay;
  left: 5%;
  z-index: 5;
  -webkit-transition: width 0.4s 0.1s, top 0.4s 0s;
  transition: width 0.4s 0.1s, top 0.4s 0s;
}

.navbar {
  right: 3vw;
  width: 35%;
  z-index: 6;
  -webkit-transition: top 0.4s ease-in 0s;
  transition: top 0.4s ease-in 0s;
}

.navbar div {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 20%;
  float: right;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.navbar div a {
  position: relative;
  font-size: calc(max(1.37vw,10px));
  color: #714291;
  text-decoration: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-transition: color 0.2s 0s;
  transition: color 0.2s 0s;
}

.navbar div a svg {
  position: absolute;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  float: right;
  -ms-flex-item-align: center;
      align-self: center;
  right: 0px;
  opacity: 0%;
  height: 10px;
  width: 100%;
  -webkit-transition: opacity 0.4s 0.65333s, height 0.4s 0.52s;
  transition: opacity 0.4s 0.65333s, height 0.4s 0.52s;
}

.navbar div a span {
  -webkit-transition: opacity 0.4s 0.52s, font-size 0.4s 0.52s;
  transition: opacity 0.4s 0.52s, font-size 0.4s 0.52s;
}

.navbar div a:hover {
  color: #D5A6F5;
}

.navbar div .current-link {
  color: #429156;
}

.navbar #nav5 {
  -webkit-transition: width 0.2s ease-out 0.2s;
  transition: width 0.2s ease-out 0.2s;
}

.navbar #nav4 {
  -webkit-transition: width 0.16s ease-out 0.16s;
  transition: width 0.16s ease-out 0.16s;
}

.navbar #nav3 {
  -webkit-transition: width 0.12s ease-out 0.12s;
  transition: width 0.12s ease-out 0.12s;
}

.navbar #nav2 {
  -webkit-transition: width 0.08s ease-out 0.08s;
  transition: width 0.08s ease-out 0.08s;
}

.sticky {
  position: fixed;
  top: 10px;
}

.logo.sticky {
  width: 10%;
  -webkit-transition: width 0.4s 0s, top 0s 0s;
  transition: width 0.4s 0s, top 0s 0s;
}

.navbar.sticky div a svg {
  position: static;
  opacity: 100%;
  -webkit-transition: opacity 0.4s 0.13333s, height 0.4s 0s;
  transition: opacity 0.4s 0.13333s, height 0.4s 0s;
  height: calc(max(2.2vw, 18px));
}

.navbar.sticky div a span {
  position: absolute;
  width: 100%;
  top: 20%;
  font-size: calc(max(0.85vw,10px));
  white-space: nowrap;
  opacity: 0%;
  -webkit-transition: opacity 0.4s 0s, font-size 0.4s 0s;
  transition: opacity 0.4s 0s, font-size 0.4s 0s;
}

.navbar.sticky #nav5 {
  width: 13%;
  -webkit-transition: width 0.04s ease-out 0.52s;
  transition: width 0.04s ease-out 0.52s;
}

.navbar.sticky #nav4 {
  width: 13%;
  -webkit-transition: width 0.05s ease-out 0.54s;
  transition: width 0.05s ease-out 0.54s;
}

.navbar.sticky #nav3 {
  width: 13%;
  -webkit-transition: width 0.06667s ease-out 0.57333s;
  transition: width 0.06667s ease-out 0.57333s;
}

.navbar.sticky #nav2 {
  width: 13%;
  -webkit-transition: width 0.1s ease-out 0.64s;
  transition: width 0.1s ease-out 0.64s;
}

.gallerySvg {
  z-index: 4;
  color: #21191b;
}

.gallerySvg > rect:hover {
  cursor: pointer;
}

.galleryGrid {
  z-index: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr 40px)[6];
      grid-template-columns: repeat(6, 1fr 40px);
  padding: 1px 41px 41px 0px;
  grid-auto-rows: 10px 100px;
  grid-auto-flow: dense;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
}

.galleryGrid .tile {
  width: 100%;
  height: 100%;
}

.galleryGrid .tile img {
  width: calc(100% + 40px);
  height: calc(100% + 40px);
  place-self: 50% 50%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

.galleryGrid .mouseover {
  z-index: 2;
}

.galleryGrid .mouseout {
  z-index: 1;
}

.galleryGrid .w1 {
  grid-column: span 2;
}

.galleryGrid .w2 {
  grid-column: span 4;
}

.galleryGrid .w3 {
  grid-column: span 6;
}

.galleryGrid .w4 {
  grid-column: span 8;
}

.galleryGrid .w5 {
  grid-column: span 10;
}

.galleryGrid .w6 {
  grid-column: span 12;
}

.galleryGrid .h1 {
  grid-row: span 2;
}

.galleryGrid .h2 {
  grid-row: span 4;
}

.galleryGrid .h3 {
  grid-row: span 6;
}

.galleryGrid .h4 {
  grid-row: span 8;
}

.galleryGrid .h5 {
  grid-row: span 10;
}

.galleryGrid .h6 {
  grid-row: span 12;
}

section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5% auto 5%;
      grid-template-columns: 5% auto 5%;
  position: relative;
}

@media (min-width: 840px) {
  section {
    -ms-grid-columns: 5% minmax(auto, 45%) minmax(auto, 45%) 5%;
        grid-template-columns: 5% minmax(auto, 45%) minmax(auto, 45%) 5%;
  }
}

section h3 {
  font-size: calc(max(1.75vw,15px));
  -ms-flex-item-align: end;
      align-self: flex-end;
  -ms-grid-column-align: center;
      justify-self: center;
  z-index: 5;
}

section p {
  padding-top: 5%;
  font-size: calc(max(1.37vw,10px));
  text-align: justify;
  z-index: 5;
}

section img {
  z-index: 3;
}

.about {
  -ms-grid-rows: 50% min-content;
      grid-template-rows: 50% -webkit-min-content;
      grid-template-rows: 50% min-content;
}

.about h3 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

@media (min-width: 840px) {
  .about h3 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    padding-right: 10%;
  }
}

.about p {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
}

@media (min-width: 840px) {
  .about p {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    padding-right: 10%;
  }
}

.about img {
  grid-column: 1 / -1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  width: 100%;
  -ms-grid-column-align: center;
      justify-self: center;
}

@media (min-width: 840px) {
  .about img {
    grid-column: 1 / -1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
    -ms-grid-column-align: right;
        justify-self: right;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    z-index: 1;
    -webkit-mask: url(../image/topImageMask.svg) 100% 0%/100% no-repeat;
            mask: url(../image/topImageMask.svg) 100% 0%/100% no-repeat;
  }
}

.about .hookCnt {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  margin-top: 5%;
}

.bulls {
  background-color: #21191b;
}

.bulls .bgSvg {
  top: 0px;
}

.bulls h3 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

@media (min-width: 840px) {
  .bulls h3 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
  }
}

.bulls p {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  -ms-grid-column-align: center;
      justify-self: center;
}

@media (min-width: 840px) {
  .bulls p {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
}

.bulls .headImage {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  -ms-grid-column-align: left;
      justify-self: left;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 100%;
  -webkit-mask: url(../image/bullMask.svg) 100% 100%/100% no-repeat;
          mask: url(../image/bullMask.svg) 100% 100%/100% no-repeat;
}

.bulls .gallerySvg, .bulls .galleryGrid {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
}

.heifers h3 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.heifers p {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  -ms-grid-column-align: center;
      justify-self: center;
}

.heifers img {
  grid-column: 2 / -1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column-align: right;
      justify-self: right;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.contact {
  -ms-grid-rows: 1fr 1fr 1fr 2fr 3fr 5%;
      grid-template-rows: 1fr 1fr 1fr 2fr 3fr 5%;
  color: #21191b;
}

.contact h3 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.contact p {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column-align: left;
      justify-self: left;
  width: 90%;
}

.contact img {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  width: 100%;
  position: relative;
  z-index: -1;
  max-width: 100%;
  -webkit-mask: url(../image/topImageMask.svg) 0% 100%/190% no-repeat;
          mask: url(../image/topImageMask.svg) 0% 100%/190% no-repeat;
}

.contact .contactInfo {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact form {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
  -ms-grid-column-align: right;
      justify-self: right;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 50px;
  background: rgba(255, 235, 199, 0.7);
  border-radius: 1%;
  width: 90%;
}

.contact form label {
  display: block;
  margin: 20px 0;
}

.contact form input, .contact form textarea {
  width: 100%;
  padding: 10px;
  background: none;
  outline: none;
  resize: none;
  border: none;
  border-bottom: 1px solid #8E4A49;
}

.contact form input[type="text"]:focus, .contact form textarea:focus {
  border-bottom: 1px solid #429156;
}

.contact form textarea::-webkit-scrollbar {
  width: 4px;
}

.contact form textarea::-webkit-scrollbar-thumb {
  background-color: #429156;
}

.contact form .center {
  text-align: center;
}

.contact form input[type="submit"] {
  margin-top: 30px;
  width: 90%;
  max-width: 250px;
  background-color: #8E4A49;
  cursor: pointer;
  border-radius: 8px;
}

.contact form .error {
  color: red;
}

.contact form .error-border {
  border-bottom: 1px solid red;
}

.contact form #success {
  color: #429156;
}

.contact .map {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5 / 6;
  -ms-grid-column-align: stretch;
      justify-self: stretch;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  opacity: 97%;
  z-index: 1;
}

::-webkit-scrollbar {
  width: 0.7em;
}

::-webkit-scrollbar-track {
  background: rgba(23, 15, 17, 0.1);
}

::-webkit-scrollbar-track:active {
  background: rgba(23, 15, 17, 0.7);
}

::-webkit-scrollbar-thumb {
  background: #4e3c40;
  border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover {
  background: #35272a;
}

footer {
  background-color: #21191b;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */