@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Display:wght@200&family=EB+Garamond&family=Josefin+Slab&display=swap');

@function color($colorName){
	@return map-get($palette, $colorName);
};

$palette: (
	bgDark: #170F11,
	bgLight: #21191B,
	textLight: #FFEBC6,
	textLightTr: rgba(255, 235, 199, 0.7),
	textDark: #8E4A49,
	linkDark: #714291,
	linkActive: #429156,
	linkLight: #D5A6F5,
	scroll: #4e3c40,
	scrollDark: #35272a,
);

$margin: 4%;
$stickyTransition: 0.4s;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 1.03em;
	font-family: 'EB Garamond', serif;
}

html {
	scroll-behavior: smooth;
  }

body {
	background-color: color(bgDark);
	color: color(textLight);
}

.home {
	display: grid;
	grid-template-columns: minmax($margin, 70%) auto $margin;
	grid-template-rows: $margin*6 auto;

	img {
		grid-column: 1 / -1;
		grid-row: 1 / -1;
		justify-self: center;
		align-self: stretch;
		position: relative;
		z-index: -1;
		max-width: 100%;
		top: -10%;
		mask-image: radial-gradient(ellipse 70% 77% at 40% 14%, white 99.7%, transparent );
	}

	.headline {
		grid-column: 2 / 3;
		grid-row: 2 / 3;
		justify-self: left;
		align-self: flex-start;
		color: color(bgLight);

		h1 {
			font-size: 2.7em;
		}
	
		h2 {
			font-size: 1.8em;
			span {
				color: color(textDark);
			}
		}
	}
}

.stickable {
	position: absolute;
	top: $margin;
	transition: $stickyTransition;
	transition-delay: $stickyTransition;
}

.logo {
	width: 15%;
	mix-blend-mode: overlay;
	left: $margin;
}

.navbar {
	right: $margin;

	a {
		float: left;
		display: block;
		//color: color(linkDark);
		text-align: center;
		font-size: 1.1em;
		margin: 0.8em;
		text-decoration: none;

		
		span {
			position: static;
			transition: $stickyTransition;
			opacity: 100%;
		}
		
		svg{
			position: fixed;
			transition: $stickyTransition*2;
			opacity: 0%;
			height: 40px;		
		}
		@for $i from 1 through 5 {
			#icon#{$i} {
				right: $margin*($i*1.15);
			}
		}
	}

	a:hover {
		color: color(linkLight);
		
	}

	.current-link {
		color: color(linkActive);
	}
}

.sticky {
	position: fixed;
	top: $margin;
	z-index: 1;	
}

.logo.sticky {
	width: 11%;
	left: $margin;
}
.navbar.sticky {
	right: $margin;
	a svg {
		position: static;
		opacity: 100%;
	}
	a span {
		position: fixed;
		opacity: 0%;
	}
}

section {
	display: grid;
	grid-template-columns: $margin minmax(auto, 50%-$margin) minmax(auto, 50%-$margin) $margin;
	//grid-template-rows:  auto auto;
	margin-bottom: $margin;

	h3 {
		font-size: 2.3em;
		align-self: flex-end;
		justify-self: center;
	}
	p {
		padding-top: 5%;
		font-size: 1.5em;
		text-align: justify;
	}
	img {		
		width: 80%;		
	}
}

.about {
	h3 {
		grid-column: 2 / 3;
		grid-row: 1 / 2;
	}
	p {
		grid-column: 2 / 3;
		grid-row: 2 / 3;
	}
	img {
		grid-column: 3 / -1;
		grid-row: 1 / 3;
		justify-self: right;
		//mask: url(../image/bullMask.svg) 100% 20% / 70% no-repeat;		
	}
}

.bulls {
	h3 {
		grid-column: 3 / 4;
		grid-row: 1 / 2;
	}
	p {
		grid-column: 3 / 4;
		grid-row: 2 / 3;
	}
	img {
		grid-column: 1 / 3;
		grid-row: 1 / 3;
		justify-self: left;
		align-self: flex-end;
		
		mask: url(../image/bullMask.svg) 100% 100% / 100% no-repeat;		
	}
}

.heifers {
	h3 {
		grid-column: 2 / 3;
		grid-row: 1 / 2;
	}
	p {
		grid-column: 2 / 3;
		grid-row: 2 / 3;
	}
	img {
		grid-column: 3 / -1;
		grid-row: 1 / 3;
		justify-self: right;
		align-self: flex-end;
		
		//mask: url(../image/bullMask.svg) 100% 100% / 100% no-repeat;		
	}
}

.contact {
	//grid-template-rows: minmax($margin,20%) auto minmax(40%, 100vh) $margin;
	grid-template-rows: 1.5fr 3fr 5fr $margin;
	color: color(bgLight);
	
	h3 {
		grid-column: 2 / 4;
		grid-row: 1 / 2;
		align-self: center;
	}
	p {
		grid-column: 2 / 3;
		grid-row: 2 / 3;
		justify-self: left;
		width: 90%;
	}
	img {
		grid-column: 1 / -1;
		grid-row: 1 / -1;
		width: 100%;
		position: relative;
		z-index: -1;
		max-width: 100%;
		
		//mask: url(../image/bullMask.svg) 100% 100% / 100% no-repeat;		
	}

	form {
		grid-column: 3 / 4;
		grid-row: 2 / 3;
		justify-self: right;
		align-self: flex-start;
		padding: 50px;
		
		background: color(textLightTr);
		border-radius: 1%;
		width: 90%;
		
		label {
			display: block;
			margin: 20px 0;
		}
		
		input, textarea {
			width: 100%;
			padding: 10px;
			background: none;
			outline: none;
			resize: none;
			border: none;
			border-bottom: 1px solid color(textDark);
		}

		input[type="text"]:focus, textarea:focus {
			border-bottom: 1px solid color(linkActive);
		}

		textarea::-webkit-scrollbar {
			width: 4px;
		}

		textarea::-webkit-scrollbar-thumb {
			background-color: color(linkActive);
		}

		.center {
			text-align: center;
		}

		input[type="submit"] {
			margin-top: 30px;
			width: 90%;
			max-width: 250px;
			background-color: color(textDark);
			cursor: pointer;
			border-radius: 8px;
		}

		.error {
			color: red;
		}

		.error-border {
			border-bottom: 1px solid red;
		}

		#success {
			color: color(linkActive);
		}
	}

	.map {
		grid-column: 2 / 4;
		grid-row: 3 / 4;
		justify-self: stretch;
		align-self: stretch;
		opacity: 97%;
		z-index: 1;
	}
}

.popupText {
	color: color(bgLight);
	font-size: 1em;

	#title {
		font-size: 1.4em;
		font-weight: bold;
	}
	
	#subTitle {
		font-size: 1.2em;
		font-weight: 600;
		span {
			color: color(textDark);
		}
	}
}

/* Media Queries */
@media(max-width: 768px) {

	#newsletter h1,
	#newsletter form,
	#boxes .box,
	article#main-col,
	aside#sidebar {
		float: none;
		text-align: center;
		width: 100%;
	}

	header {
		padding-bottom: 20px;
	}

	#showcase h1 {
		margin-top: 40px;
	}
}

::-webkit-scrollbar {
	width: 0.7em;
}

::-webkit-scrollbar-track {
	background: color(bgDark);
}

::-webkit-scrollbar-thumb {
	background: color(scroll);
	
}

::-webkit-scrollbar-thumb:hover {
	background: color(scrollDark);
}

footer {
	background-color: color(bgLight);
	text-align: center;
}